{% extends 'base.html.twig' %}

{% block title %}Gestion et fonctionnement{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-2 offset-3 offset-md-5 logo">
                    <img src="{{ absolute_url(asset('assets/images/logo-rab_theme.png')) }}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </header>
    <main class="experiences">
        <div class="container">
            <row class="step">
                <div class="col-12 text-center">
                    <h3>Etape <span class="numerotation"> <span class="badge bg-danger">5</span> / <span class="badge bg-danger">5</span></span></h3>
                </div>
            </row>
            <h1 class="titre text-center">
                <img src="{{ absolute_url(asset('assets/images/icones/fonctionnement.png')) }}" alt="" class="icone">
                Gestion et fonctionnement
            </h1>
            {{ include('fonctionnement/_form.html.twig') }}
        </div>
    </main>



{% endblock %}
