main{
    .theme{
        margin-top: 50px;
    }

    .illustration{
        margin-top: 50px;
    }

    h1{
        color: yellow;
        font-size: 2.5rem;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;;
    }
    h2{
        color: #fff;
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: uppercase;
       /* background: rgba(0, 0, 0, 0.4);*/
        padding: 10px;
        margin: 0 auto;
        width: 85%;
        font-family: "Roboto", sans-serif;;
    }
}